html {
    height: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    background: linear-gradient( #134d71, #78a7c6, #f7e4bf);
    font-family: 'Quicksand', sans-serif;
}

body {
  color: white;
}

.page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 0;
}

.message-page {
  display:flex;
  margin-right: 5%;
  margin-bottom: 10%;
}

#self-care-center {
  margin-top: 10px;
  margin-bottom: 60px;
  margin-left: 15px;
}

#all-messages-title {
  margin-left: 5%;
}


#selftalk {
  font-size: 50pt;
  text-align: center;
  margin-bottom: 10px;
}

#which-type-of-message {
  margin-bottom: 10px;
}

.radio-buttons-container {
  font-style: italic;
  color: black;
  background-color: white;
  border-radius: 6pt;
  height: 100px;
  width: 500px;
  display: inline-block;
  margin-bottom: 90px;
}

#user-options {
  width: 300px;
  hight: 50px;

}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 25px;
}

label {
  margin-left: -120px;
  font-size: 12pt;
}

button {
  background-color: #134d71;
  border: none;
  height: 25px;
  width: 150px;
  border-radius: 2pt;
  color: white;
}

#recieve-message-button {
  margin-top: 10px;
  margin-left: 175px;
}

#meditate-container {
  background-color: white;
  border-radius: 6pt;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 150px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#svg {
  hight: 75px;
  width: 75px;
}

.list-titles {
  margin-bottom: 0px;
}

.list {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

ul {
  font-style: italic;
  margin-top: 1px;
}

li {
  font-style:normal;
}

.fade {
  animation: fade 4s;
}

  @keyframes fade {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }

p {
  padding: 10px;
  text-align: center;
  font-size: 18pt;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  animation: pulse 4s;
}

#instructions {
  font-size: 12pt;
  margin: 50px;
}

  @keyframes pulse {
    0% {
      color: white;
    }
    100% {
      color: black;
    }
  }

#clear-button {
  margin-top: 10px;
}

#yourMessage {
  margin-top: 15%;
}

#user-input {
  height: 25px;
  width: 300px;
}

#home-button {
  margin-top: 30px;
  margin-bottom: 40px;
}

.hidden {
  display: none;
}
